
:root {
  --c-50: #f4f6fa;
  --c-100: #e6e9f3;
  --c-200: #d3d8ea;
  --c-300: #b5bfdb;
  --c-400: #919fc9;
  --c-500: #7783ba;
  --c-600: #646dac;
  --c-700: #595e9c;
  --c-800: #4c4e81;
  --c-900: #373958;
  --c-950: #2b2c40;
}


.custom-nav {
    background-color: var(--c-900) !important;
}


.custom-btn {
    background-color: var(--c-600) !important;
}

.custom-btn:hover {
    background-color: var(--c-400) !important;
    transition: 0.3s;
}

.hero-section {
    position: relative;
    background: url("../img/bgTS.png") no-repeat top center/cover;

    padding: 220px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(55, 57, 88, 0.65); 
    backdrop-filter: blur(2px);
}


.hero-section > .container {
    position: relative;
    z-index: 2;
}


.product-card {
    transition: transform .3s ease, box-shadow .3s ease;
    background-color: var(--c-100);
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}


.custom-footer {
    background-color: var(--c-950);
    padding: 20px;
}
.nav-cart-link {
    display: inline-flex !important;
    align-items: center;
    gap: 6px;  
}

.nav-cart-link i {
    font-size: 1.3rem;  
}

.product-img {
    width: 100%;
    height: 180px;
    object-fit: cover;  
}


.product-title {
    font-size: 1.3rem !important;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0,0,0,0.8);
}


.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-content {
    min-height: 100px; 
}


.precio-tag {
    color: var(--c-800);
    margin-top: 10px;
}


.card-action {
    margin-top: auto;
}
